In [1]:
import pandas as pd
import numpy as np
from datetime import date, time, datetime, timedelta
fields = ["Marker Name","Description","In","Marker Type"]
df = pd.read_csv('C:/Users/zumie/Documents/GitHub/fuzzy-succotash/data/ep.csv', encoding="UTF-16", delimiter='\t', usecols=fields)
df['In'] = pd.to_datetime(df['In'], format='%H:%M:%S:%f').dt.time

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566 entries, 0 to 1565
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Marker Name  1566 non-null   object
 1   Description  1566 non-null   object
 2   In           1566 non-null   object
 3   Marker Type  1566 non-null   object
dtypes: object(4)
memory usage: 49.1+ KB

In [3]:
df[df['Marker Name'] == 'blink'] # conditional ex

     Marker Name   Description               In Marker Type
6          blink     EmmaWelsh         00:00:37     Comment
11         blink    JamesLeahy  00:00:41.160000     Comment
16         blink  MaureenSmyth  00:00:44.150000     Comment
17         blink  MaureenSmyth  00:00:45.030000     Comment
22         blink     PhilWelch  00:01:29.230000     Comment
...          ...           ...              ...         ...
1555       blink     PhilWelch  00:28:02.040000     Comment
1556       blink     PhilWelch  00:28:03.070000     Comment
1557       blink     PhilWelch  00:28:04.040000     Comment
1562       blink     PhilWelch  00:28:13.230000     Comment
1563       blink     PhilWelch  00:28:13.280000     Comment

[708 rows x 4 columns]

In [4]:
subjects = df.Description.unique() # unique ex
df[df['Description'] == subjects[0]] # conditional using subject array

          Marker Name Description               In   Marker Type
0            onscreen   PhilWelch  00:00:28.190000  Segmentation
1     startBackground   PhilWelch  00:00:28.190000  Segmentation
2           offscreen   PhilWelch  00:00:34.040000  Segmentation
3       endBackground   PhilWelch  00:00:34.040000  Segmentation
20           onscreen   PhilWelch  00:01:29.090000  Segmentation
...               ...         ...              ...           ...
1561         onscreen   PhilWelch  00:28:11.090000  Segmentation
1562            blink   PhilWelch  00:28:13.230000       Comment
1563            blink   PhilWelch  00:28:13.280000       Comment
1564    endBackground   PhilWelch  00:28:14.280000  Segmentation
1565        offscreen   PhilWelch  00:28:14.280000  Segmentation

[375 rows x 4 columns]